body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
  text-transform: capitalize;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h4, h6 {
  margin: 0;
  padding: 0;
}

.U-wrap-width {
  width: 1024px;
  margin: 0 auto;
}

.U-bg-clr-bw {
    background-color: #8e9ed3;
    color: #fdfbfb;
}

.U-bg-clr-wb {
  background-color: #fbfbfb;
  color: #8e9ed3;
}